body {
  background-color: #e8ecef;
  font-family: 'Open Sans', sans-serif;
}

/* home */
.logo {
  width: 30%;
}

.home-title {
  font-family: 'Coming Soon', cursive;
}

.centered {
  text-align: center;
}

.attribution {
  margin-right: 30px;
  text-align: right;
}

/* create, test */
.test-title {
  font-family: 'Open Sans Condensed', sans-serif;
}

.padding-top {
  padding-top: 50px;
}

/* test */
.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.test-question {
  font-size: 2.5rem;
  padding: 0 10%;
}

.test-answer {
  padding: 0 10%;
}

.carousel {
  text-align: center;
}

.carousel-control-prev, .carousel-control-next {
  filter: invert(100%);
}
